<div class="flex flex-wrap justify-center">
  <%= render(ServiceCardComponent.new(image: "building_security.jpg", title: "What we do", description: "Lorem")) %>
  <%= render(ServiceCardComponent.new(image: "fire_security.jpg", title: "What we do", description: "Lorem")) %>
  <%= render(ServiceCardComponent.new(image: "training_safety.jpg", title: "What we do", description: "Lorem")) %>
  <%= render(ServiceCardComponent.new(image: "training_security.jpg", title: "What we do", description: "Lorem")) %>
</div>
